{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}
    <h1>Liste des livres</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Couverture</th>
                <th>Auteur</th>
                <th>Prix</th>
                <th>Genre</th>
                <th>Resume</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>n°{{ livre.id }}</td>
                <td>{{ livre.titre }}</td>
                <td><img src="{{ livre.couverture }}" alt="Couverture du livre" style="max-width: 50px;"></td>
                <td>{{ livre.auteur }}</td>
                <td>{{ livre.prix }} €</td>
                <td>{{ livre.genre }}</td>
                <td>{{ livre.resume | slice(0,20)}}...</td>
                <td>
                    <a href="{{ path('livre_show', {'id': livre.id}) }}" class="btn btn-info">Detail</a>
                    <a href="{{ path('livre_edit', {'id': livre.id}) }}" class="btn btn-success">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucuns livres trouvé !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('livre_new') }}" class="btn btn-success">Ajouter un livre</a>

    <hr>
    {% for message in app.flashes('info') %}
    <div class="alert alert-info">
        {{ message }}
    </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endfor %}
{% endblock %}
